<h1>Create Move</h1>
<label>Name</label>
<input type="text" maxlength="20" [ngModel]="moveName">
<label>Category</label>
<div>
    <input type="radio" id="physical" name="category" value="physical" [(ngModel)]="category">>
    <label for="physical">Physical</label>
    <input type="radio" id="special" name="category" value="special" [(ngModel)]="category">>
    <label for="special">Special</label>
    <input type="radio" id="status" name="category" value="status" [(ngModel)]="category">>
    <label for="status">Status</label>
</div>
<label>Type</label>
<select [(ngModel)]="type">
    <option value="normal">Normal</option>
    <option value="fire">Fire</option>
    <option value="water">Water</option>
    <option value="grass">Grass</option>
    <option value="electric">Electric</option>
    <option value="ice">Ice</option>
    <option value="fighting">Fighting</option>
    <option value="poison">Poison</option>
    <option value="ground">Ground</option>
    <option value="flying">Flying</option>
    <option value="psychic">Psychic</option>
    <option value="bug">Bug</option>
    <option value="rock">Rock</option>
    <option value="ghost">Ghost</option>
    <option value="dragon">Dragon</option>
    <option value="dark">Dark</option>
    <option value="steel">Steel</option>
    <option value="fairy">Fairy</option>
</select>
<label>Power</label>
<input type="number" maxlength="3" [(ngModel)]="power">
<br>
<button>Create Move</button>