<table>
    <thead>
        <tr>
            <th>Pokemon</th>
            <th>Generation</th>
            <th>Category</th>
            <th>PS</th>
            <th>Attack</th>
            <th>Defense</th>
            <th>Sp. Attack</th>
            <th>Sp. Defense</th>
            <th>Speed</th>
        </tr>
    </thead>
    <tbody>
        <tr >
            <td>name</td>
            <td>generation</td>
            <td>category</td>
            <td>ps</td>
            <td>attack</td>
            <td>defense</td>
            <td>spAttack</td>
            <td>spDefense</td>
            <td>speed</td>
        </tr>
    </tbody>
</table>