<table>
    <thead>
        <tr>
            <th>Pokemon</th>
            <th>Generation</th>
            <th>Category</th>
            <th>PS</th>
            <th>Attack</th>
            <th>Defense</th>
            <th>Sp. Attack</th>
            <th>Sp. Defense</th>
            <th>Speed</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pokemon of pokemons">
            <td>{{ pokemon.name }}</td>
            <td>{{ pokemon.generation }}</td>
            <td>{{ pokemon.category }}</td>
            <td>{{ pokemon.ps }}</td>
            <td>{{ pokemon.attack }}</td>
            <td>{{ pokemon.defense }}</td>
            <td>{{ pokemon.spAttack }}</td>
            <td>{{ pokemon.spDefense }}</td>
            <td>{{ pokemon.speed }}</td>
        </tr>
    </tbody>
<p>{{offset}} -- {{limit}}</p>
<button (click)="incrementNumber()">Create New Pokemon</button>