<h1>Create Pokemon</h1>
<label>Name</label>
<input type="text" maxlength="15" [(ngModel)]="pokemonName">
<label>Generation</label>
<input type="number" maxlength="2" [(ngModel)]="generation">
<label>Category</label>
<input type="text" maxlength="25" [(ngModel)]="category">
<label>Ps</label>
<input type="number" maxlength="3" [(ngModel)]="ps">
<label>Attack</label>
<input type="number" maxlength="3" [(ngModel)]="attack">
<label>Defense</label>
<input type="number" maxlength="3" [(ngModel)]="defense">
<label>SpAttack</label>
<input type="number" maxlength="3" [(ngModel)]="spAttack">
<label>SpDefense</label>
<input type="number" maxlength="3" [(ngModel)]="spDefense">
<label>Speed</label>
<input type="number" maxlength="3" [(ngModel)]="speed">
<button (dblclick)="createPokemon()">Create Pokemon</button>
<p>{{errorMessage}}</p>
